.rfu-image-upload-button {
  cursor: pointer;

  svg {
    fill: #a0b2b8;
  }

  &:hover {
    svg {
      fill: color(#a0b2b8 shade(15%));
    }
  }

  label {
    cursor: pointer;
  }

  .rfu-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
